body{
  font-family: Arial, sans-serif;
  margin: 0;
}

header{
  background: #111;
  color: white;
  padding: 15px;
}

nav a{
  /*Color de las palabras en la navbar*/
  color: white;
  
  /*Espacio entre elementos de la navbar (darle 10px a la derecha)*/
  margin-right: 10px;

  /*Quitar el subrayado de la navbar*/
  text-decoration: none;
}